@font-face {
    font-family: 'Nexa_Free_Light';
    src: url('Nexa_Free_Light-webfont.woff2') format('woff2'),
        url('Nexa_Free_Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa_Free_Bold';
    src: url('Nexa_Free_Bold-webfont.woff2') format('woff2'),
        url('Nexa_Free_Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a,
h1,
h2,
h3,
h4,
label,
button {
    font-family: 'Nexa_Free_Bold';
}

form,
input,
p {
    font-family: 'Nexa_Free_Light';
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 2em;
    background-color: #FFFFFF;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0 auto;
}

article {
    max-width: 30em;
    padding: 0;
    background-color: #FFFFFF;
    border: 1em solid #FFFFFF;
    border-radius: 3em;
    margin: 1em auto;
}

h4 {
    font-size: 2em;
    margin: 0.5em auto;
    width: 100%;
    color: #2800A0;
}

.verhaalVak {
    margin: 0em auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

article a {
    text-decoration: none;
    color: #202020
}

img {
    margin: -1em 0 0 -1em;
    width: calc(100% + 2em);
    border: 0 solid white;
    border-radius: 3em;
}

.specificeerOpties {
    width: 100%;
    margin: 0 auto;
    background-color: #F3E5D8;
    text-align: center;
    padding-top: 0.1em;
    padding-bottom: 1em;
}

button {
    color: #FFFFFF;
    background-color: #2800A0;
    font-size: 1.5em;
    padding: 0.125em;
    width: 12em;
    margin: 1em auto;
    border-radius: 10em;
    border-color: #2800A0;
    display: block;
}

#inlogButton {
    background-color: #2800A0;
    border-color: #2800A0;
}

#registerButton {
    background-color: #FF3268;
    border-color: #FF3268;
}

#voegFiltersToe {  
    background-color: #00D66C;
    border-color: #00D66C;
}

input {
    display: block;
    margin: 1em auto;
    width: 100%;
    max-width: 25em;
    box-sizing: border-box;
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.aanmaakForm input {
    border: 0.05em solid #FF3268;
    border-radius: 0.5em;
}

.inlogForm input {
    border: 0.05em solid #2800A0;
    border-radius: 0.5em;
}

.specificeerOpties input {
    border: 0.05em solid #FFFFFF;
    border-radius: 0.5em;
}

.inlogForm {
    width: 19em;
    margin: 1em auto;
    background-color: #FFFFFF;
    padding: 1em;
    border-radius: 1em;
}

.aanmaakForm {
    width: 19em;
    margin: 1em auto;
    background-color: #FFFFFF;
    padding: 1em;
    border-radius: 1em;
}

form {
    margin: 0 auto;
    width: 19em;
}

header {
    background-color: #00D66C;
    padding: 1.5em;
    margin: 0 auto;
    border: none;
}

nav a {
    padding: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    border: 0.1em solid #FFFFFF;
    border-radius: 1em;
}

nav .actief {
    background-color: #FFFFFF;
    color: #00D66C;
}

nav a:hover {
    background-color: #FFFFFF;
    color: #00D66C;
}

nav {
    text-align: center;
}

body {
    background-color: #F7F7F7;
    margin: 0 auto;
    padding: 0;
    border: 0;
}
